@use '../utils/variables';

footer {
    background: variables.$primary-color;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;

    i {
        line-height: 3;
    }

    span {
        font-size: .8rem;
        color: #cccccc;
    }
}